div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#keepLeft{
    float:left;
    width: 50%; 
    height: 50%;
    min-width: 200px;
    max-width: 450px;
    padding-left:1.5%;
    padding-top: 13%;
}

#keepLeft input{
    width:250px;
}

.navbar-brand-right{
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.topicHeader,.subTopic{
    font-family: 'Open Sans', arial;
    -webkit-font-smoothing:antialiased;
    font-weight: bold;
    font-size:14pt;
}

.subTopic{ 
    font-weight: 500;
    font-size:11pt;
}

.a_link, .a_link:hover{
   color:#34495e;
   font-size: 24px;
   font-weight: 700;
}

.c_link, .c_link:hover{
    color:#34495e;
}

#submit-option input{
    width:120px;
}

#username[readonly], #uniqKey[readonly], #email1[readonly], #email2[readonly], #email3[readonly], #email4[readonly], #email5[readonly]{
    color:#34495e;
}